:root {
  --font-sans-serif: acumin-pro-wide, sans-serif;
  --font-sans-heading: acumin-pro, sans-serif;
  --font-serif: adonis-web, serif;
  --font-thin: acumin-pro-condensed, sans-serif;
  --purple: #a40d9e;
  --black: #000;
  --white: #f7f7f7;
  --grey: #636363;
  --near-black: #272727;
  --green: #028102;
  --transparent: #0000;
}

html {
  box-sizing: border-box;
  font-size: 15px;
  background: var(--white);
}
*, *:before, *:after {
  box-sizing: inherit;
}
img {
  display: block;
}
.column-flex {
  display: flex;
  gap: .75rem;
  flex-direction: column;
}
/*Library Formatting*/
.component {
  margin: 1rem;
}
.component__name {
  background-color: var(--grey);
  color: var(--white);
  padding: 1rem;
  font-weight: 500;
  text-align: center;
}
.component__img {
  max-width: initial;
}
.component__img {
  overflow-x: hidden;
  border: 1px solid grey;
}
.component__code {
  border: 1px solid black;
  background: #efefef;
  min-width: fit-content;
  min-height: fit-content;
}
/*Main Formatting*/
body {
  font-family: var(--font-sans-serif);
  color: var(--black);
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
.copy--big {
  font-size: 1.25em;
  line-height: 1.4em;
}
.copy {
  font-size: normal;
  line-height: 1.4em;
}
.copy--small {
  font-size: .97em;
  font-weight: 300;
  line-height: 1.75em;
}
.link {
  text-decoration: underline;
  transition: all ease-in-out .4s;
  text-decoration-color: transparent;
}
.link:hover {
  text-decoration-color: inherit;
}
.topper {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
h4 {
  align-self: center;
}
/*HEADINGS*/
h1,h2,h3,h4,h5,h6 {
  text-transform: capitalize;
  font-weight: 400;
  font-family: var(--font-sans-heading);
  margin: 0;
  line-height: 1.1em;
}
.heading--serif {
  font-family: var(--font-serif);
}
.heading--bold {
  font-weight: 500;
}
.heading--bolder {
  font-weight: 600;
}
.heading--upper {
  text-transform: uppercase;
}
.heading--wide {
  font-family: var(--font-sans-serif);
}
.heading--big {
  font-size: 6.39vw;
  font-stretch: semi-condensed;
}
.heading--bigger {
  font-size: 18rem;
}
.heading--no-big {
  font-size: 1.07vw;
}
.section-heading:before {
  content: url(../img/bullet.png);
  margin: .75rem;
  position: relative;
  bottom: -.25rem;
}
.heading--purple {
    color: var(--purple);
}
.heading--inits {
  font-size: 3.61vw;
}
.heading--white {
  color: var(--white);
}
.sub {
  font-size: 17px;
}
.sub--bigger {
  font-size: 2.78vw;
  line-height: 1.1em;
}
.sub--big {
  font-size: 1.81vw;
}
.copy--smaller {
  font-size: .75rem
}
/*BUTTONS*/
.button {
  background-color: var(--purple);
  color: var(--white);
  max-width: fit-content;
  max-height: 57.6px;
  border-radius: 10px;
  border: 1px solid transparent;
  transition: background-color ease-in-out .4s, color ease-in-out .4s;
}
.button .icon-slider {
  width: 17.25px;
}
.button__link {
  padding: 21px;
  margin: 0;
}
.button:hover {
  background-color: var(--white);
  color: var(--purple);
  border: 1px solid var(--purple);
}
.button--white {
  background-color: var(--white);
  color: var(--near-black);
  border: 1px solid var(--near-black);
}
.button--white:hover {
  background-color: var(--near-black);
  color: var(--white);
  border: 1px solid transparent;
}
.button--white:hover img {
  filter: invert(1);
}
.button img {
  display: inline;
}
.button--cookie {
  max-width: none;
  font-size: 13px;
  background-color: var(--white);
  color: var(--near-black);
  border: 2px solid var(--near-black);
  border-radius: 2px;
  flex: 1 1 0;
  transition: border ease-in-out .4s, background-color ease-in-out .4s;
}
.button--cookie:nth-child(2) {
  flex: 1.25 1 0;
}
.button--cookie:hover {
  color: var(--grey);
  border: 2px solid var(--grey);
}
.button--cookie .cookie__link {
  padding: .75rem;
}
.cookie__link {
  text-align: center;
}
.button--cookie-alt {
  color: var(--white);
  background-color: var(--near-black);
  margin: 0;
}
.button--cookie-alt:hover {
  background-color: var(--grey);
  color: var(--white);
}
.button--small {
  font-size: 13px;
  border-radius: 5px;
}
.button--black {
  background-color: var(--near-black);
  color: var(--white);
}
.button--black:hover {
  background-color: var(--white);
  border: 1px solid var(--near-black);
  color: var(--near-black);
}
.button--black:hover img {
  filter: invert(1);
}
.small__link {
  padding: 0.7rem 1rem;
  margin: 0;
}
.button__grid {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}
/*POPUP*/
.popup {
  width: 28.5vw;
  padding: 1.35rem;
  background: var(--white);
  border-radius: 30px;
  margin: 0.5rem;
  z-index: 2;
}
.topper--popup {
  gap: 1rem;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}
.break {
  margin-bottom: 1.5rem;
}
.button--x {
  background-color: var(--white);
  border: 0;
  max-height: fit-content;
  max-width: fit-content;
  cursor: pointer;
}
.popup input {
  visibility: hidden;
  position: absolute;
  top: 0;
}
.popup:has(input:checked) {
  visibility: hidden;
  width: 0px;
  height: 0px;
}
/*TOOLBAR*/
.toolbar {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}
.toolbar .link {
  margin: 1rem;
  color: var(--near-black);
}
button {
  padding: 0;
}
.search {
  display: grid;
  padding: 20px;
  margin: 0;
}
/*HEADER*/
header {
  align-items: center;
  padding: 1rem 2.5rem;
  background: var(--white);
}
/*HERO*/
.hero {
  position: relative;
  height: 150vh;
  background-image: url(../img/heroback.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}
.sticky {
  position: sticky;
  top: 0;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto, auto;
  align-items: center;
  margin: 3rem;
}
.center {
  text-align: center;
  align-self: center;
}
.hero__heading {
  padding: 40vh 0 10vh 0;
}
.right {
  justify-self: right;
}
.absolute {
  position: absolute;
  top: 5rem;
  left: 0;
}
/*COOKIES*/
.cookie__toggle {
  background: var(--near-black);
  border-radius: 25px;
  max-width: fit-content;
}
.cookie__toggle img {
  box-sizing: content-box;
  width: 30px;
  padding: .5rem;
}
.cookies {
  background: var(--white);
  font-family: var(--font-sans-heading);
  max-height: 79vh;
  width: 845px;
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}
.topper--cookies {
  padding: 1.5rem;
  border-bottom: 1px solid #efefef;
}
.topper--cookies img {
  width: 10px;
}
.green {
  color: var(--green);
}
.toggle-arrow {
  align-self: center;
}
.switch {
  height: 1.55rem;
  width: 3rem;
  display: block;
  position: relative;
}
.switch-ball {
  background-color: var(--white);
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 75rem;
  margin: 0.125rem;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.switch-slider {
  height: 1.55rem;
  width: 3rem;
  border-radius: 1rem;
  background-color: #cdcdcd;
  position: absolute;
  top: 0;
  display: flex;
}
input:checked + .switch-slider {
  background-color: var(--black);
  justify-content: flex-end;
}
/*ACCORDIONS*/
.accordion {
  margin: 0 1.5rem;
  border-top: 1px solid #efefef;
  gap: 0;
  padding-top: 1rem;
}
input:checked + .accordion {
  gap: 1.5rem;
}
.morepad {
  margin: 0;
  padding: 0 1.5rem;
  color: var(--near-black);
}
input:checked + .accordion img {
  transform: rotate(90deg);
}
.cookie__table {
  text-align: left;
  font-size: 12px;
  font-weight: 200;
  color: var(--near-black);
  font-family: var(--font-sans-heading);
  border-bottom: 1px solid #e8e8e8;
}
.cookie__table:last-child {
  border-bottom: 0;
}
.cookie__table th,.cookie__table td {
  padding: 0.5rem;
  min-width: 7rem;
}
.collapse {
  background: #efefef;
  margin: 0 1.5rem;
  border-radius: 7px;
}
input:not(:checked) + .accordion .collapse, input:not(:checked) + .accordion .collapse > * {
  visibility: hidden;
  max-height: 0;
  margin: 0;
  padding: 0;
  transform: scaleY(0);
}
.scroll {
  max-height: 500px;
  overflow-y: scroll;
  position: relative;
}
.cookie__foot {
  background-color: #dedede;
  margin: 0;
  display: flex;
  justify-content: right;
  gap: 0.25rem;
  color: #293c5b;
  font-weight: 200;
  font-size: 12px;
  padding: 0.75rem 1.5rem;
  border-radius: 0 0 5px 5px;
}
.cookie__foot img {
  display: inline;
}
.cookie__foot p {
  margin: 0;
}
.cookie__options {
  display: flex;
  gap: 0.5rem;
  background: var(--white);
  padding: 1.5rem;
}
.shadow {
  position: sticky;
  bottom: -1px;
  left: 1px;
  width: 99%;
  height: 3rem;
  background: linear-gradient(to bottom, transparent, var(--white));
}
#cookie {
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100vw;
  height: 100vh;
  background: #0008;
  z-index: 3;
}
#cookie:target {
  visibility: visible;
}
.blue {
  color: rgb(56, 56, 255);
}
.bold {
  font-weight: 400;
  margin: 0;
}
.pad {
  padding: 1rem 1.5rem;
}
/*DELETE*/
.bg-white {
  background-color: var(--white);
}
/*MENU*/
.thumbnail {
  height: 119px;
  width: 132px;
  flex-shrink: 0;
}
.thumbnail-img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 30px;
}
.menu-news__grid {
  display: flex;
  gap: 1.5rem;
  background-color: var(--white);
  margin: 1.5rem 0;
}
.menu-news__grid h4 {
  flex-shrink: 1;
}
.copy--bigger {
  font-size: 1.53vw;
  margin: 0;
}
div.lrbutton {
  height: fit-content;
  border-radius: 5px;
}
a.lrbutton img{
  padding: 11.8px 12px;
}
.l img{
  transform: rotate(180deg);
}
.thin {
  font-family: var(--font-sans-heading);
  font-weight: 300;
}
.menu__news {
  padding: 1.5rem;
  background-color: var(--white);
  border-radius: 20px;
  border: 1px solid var(--black);
  max-width: fit-content;
}
p,h1,h2,h3,h4,h5 {
  margin: 0;
}
.socials {
  padding: 1.5rem 0;
  gap: 1.75rem;
}
.socials img:hover {
  filter: invert(.5);
}
.menu-ac {
  max-width: 100%;
  min-height: fit-content;
  position: relative;
}
.menu-ac input {
  height: 0;
  width: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
}
.menu__accordion {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  height: fit-content;
  background-color: var(--white);
  border: 1px solid var(--black);
  border-radius: 34px;
  gap: 0;
  transition: gap ease-in-out .4s;
}
.accordion__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  column-count: 2;
  max-height: 0px;
  text-transform: capitalize;
  color: transparent;
  transition: all ease-in-out .4s;
}
.accordion__list li {
    padding: .75rem 0;
}
input:checked + .menu__accordion {
  gap: 1.5rem;
}
input:checked + .menu__accordion .accordion__list {
  max-height: 300px;
  color: var(--near-black);
}
.plumin {
  height: 1.75vw;
  aspect-ratio: 1/1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
input:checked + .menu__accordion .plumin {
  background-image: url(../img/min.png);
}
input:not(:checked) + .menu__accordion .plumin {
  background-image: url(../img/plus.png);
}
.menu {
  background-color: var(--white);
  padding: 1.5rem;
  width: 520px;
  border-radius: 34px;
  overflow-y: scroll;
}
.button--menu {
  max-width: none;
  border-radius: 34px;
  max-height: fit-content;
}
/*SEARCHBAR*/
.searchbar {
  width: 557.5px;
}
.searchbar__searchbar {
  padding: 1.25rem;
  border: 1px solid var(--black);
}
input[type="text"] {
  background-color: transparent;
  border: none;
  width: 100%;
}
input[type="text"]:focus {
  outline: none;
}
input[type="submit"] {
  visibility: hidden;
  position: absolute;
  top: 0;
}
.search-results {
  max-width: 100%;
  height: 30rem;
  color: var(--grey);
  overflow-y: scroll;
  visibility: hidden;
}
div:has(input:focus) + .search-results {
  visibility: visible;
}
/*SAD SECTION*/
.section-grid {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 1.5rem;
  margin: auto;
  width: 94vw;
}
.section-thumbnail {
  grid-column: span 6/span 6;
}
.section-content {
  grid-column: span 5/span 5;
  max-width: 100%;
  gap: 3rem;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--black);
  border-radius: 20px;
  border: 4px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar {
  background: transparent;
}
/*three row grid*/
.subsection-1 {
  grid-column: 1/span 3;
}
.subsection-1,.subsection-3 {
  align-self: center;
}
.subsection-img {
  height: 600px;
  width: 100%px;
  clip-path: polygon(0% -7%, 100% -23%, 100% 107%, 0% 123%);
  grid-column: 5/span 4;
}
.initiatives:first-child .subsection-img {
  clip-path: polygon(0% 0%, 100% 0%, 100% 107%, 0% 123%);
}
.initiatives:last-child .subsection-img {
  clip-path: polygon(0% -7%, 100% -23%, 100% 100%, 0% 100%);
}
.subsection-3 {
  grid-column: span 3/-1;
  gap: 1.5rem;
}
.skew-frame {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.skew-frame img {
  height: 550px;
  border-radius: 30px;
}
.initiatives {
  height: 785px;
}
/*NEWS SECTION*/
.news__article {
  grid-column: span 4;
  transition: color ease-in-out .4s;
}
.news-thumbnail {
  width: 100%;
  position: relative;
  clip-path: fill-box;
  border-radius: 30px;
  position: relative;
  height: fit-content;
}
.news__article:hover {
  color: var(--grey);
}
.news__article:hover .news-thumbnail-img {
  height: 110%;
  width: 110%;
}
.news-thumbnail-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all ease-in-out .4s .1s;
}
.article__icon {
  background: var(--white);
  border: var(--near-black);
  padding: 0.65rem .75rem;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  border-radius: 10px;
  font-family: var(--font-sans-heading);
  color: var(--near-black);
  gap: 0.5rem;
}
.article__icon img {
  max-height: 1.2rem;
}
.article__copy {
  max-width: 90%;
  text-transform: none;
}
/*MISSION SECTION*/
.bump {
  margin-top: 3.5rem;
}
.mission {
  text-align: center;
}
.mission h2 {
  width: 85vw;
  margin: 3rem auto;
}
.mission p {
  width: 58.47vw;
  margin: auto;
}
/*PRE FOOTER*/
.article__square {
  display: flex;
  max-width: fit-content;
  aspect-ratio: 1/1;
  align-items: flex-end;
}
.pre-thumbnail {
  width: 100%;
  position: relative;
  clip-path: polygon(0% 0%, 100% 25%, 100% 100%, 0% 100%);
  position: relative;
  height: fit-content;
  transition: all ease-in-out .4s;
}
.border-rad {
  border-radius: 0px 30px 30px 30px;
  clip-path: fill-box;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all ease-in-out .4s;
}
.pre-thumbnail-img {
  width: 110%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all ease-in-out .4s;
}
.news__article:hover .pre-thumbnail {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.news__article:hover .border-rad {
  border-radius: 30px;
}
.news__article:hover .pre-thumbnail-img {
  width: 100%;
}
.placeholder {
  max-width: 100%;
  opacity: 0;
}
.news__article:first-child .pre-thumbnail {
  clip-path: polygon(0% 25%, 100% 0%, 100% 100%, 0% 100%);
}
.news__article:first-child .border-rad {
  border-radius: 30px 0px 30px 30px;
}
.news__article:first-child:hover .pre-thumbnail {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.news__article:first-child:hover .border-rad {
  border-radius: 30px;
}
/*IMPACT SECTION*/
.bubble {
  width: 2.45vw;
  aspect-ratio: 1/1;
  background-color: var(--purple);
  border-radius: 2vw;
  flex-shrink: 0;
  scale: 0;
  order: 1;
}
.bubble__plus {
  filter: invert(1);
  box-sizing: content-box;
  max-width: 43%;
  padding: 29%;
}
.impact__link {
  position: relative;
  gap: 1.5rem;
}
.impact__link:hover .bubble {
  scale: 1;
  order: 0;
  transition: scale .4s;
}
.impact__nav li {
  padding: 1rem 0;
  border-bottom: 1px solid var(--grey);
}
.impact__nav li:first-child {
  border-top: 1px solid var(--grey);
}
.hover {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0%, -50%);
  scale: 0;
}
.impact__link:hover .hover {
  scale: 1;
  transition: scale .4s;
}
.fit {
  max-width: 100%;
}
/*GREETING CARD*/
.greeting-card {
  animation-name: greeting-card;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  position: fixed;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: var(--white);
  visibility: hidden;
  z-index: 5;
}
@keyframes greeting-card {
  0%  {visibility: visible}
  100% {visibility: visible}
  0% {gap: 100vw;}
  60% {gap: 100vw}
  80% {gap: 0}
  0% {top: 0}
  90% {top: 0}
  100% {top: -100%}
}
.special-image {
  position: relative;
  top: 5%;
  animation-name: greeting;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
}
.greeting {
  font-size: 18rem;
  font-family: "carbona-variable",sans-serif;
  font-variation-settings: 'wght' 600, 'MONO' 100, 'slnt' 0;
}
@keyframes greeting {
  0% {transform: rotate(0deg)}
  80% {transform: rotate(1000deg)}
  100% {transform: rotate(1000deg);}
  0% {left: -55vw}
  60% {left: -55vw}
  80% {left: 0}
  0% {scale: 2;}
  20% {scale: 1;}
  40% {scale: 2;}
  60% {scale: 1;}
}
/*CTA SECTION*/
.cta {
  text-align: center;
  gap: .5rem;
  position: relative;
  margin-bottom: 5rem;
}
.behind {
  z-index: 0;
  height: 100%;
  animation-name: behind;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-timing-function: linear;
}
.cta:has(a:hover) a:not(:hover) {
  color: var(--grey);
}
.cta a:hover {
  color: var(--black);
}
.behind-box {
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  transition: all ease-in-out .4s;
}
@keyframes behind {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}
.cta__link {
  position: relative;
  z-index: 2;
  font-family: var(--font-sans-heading);
  transition: color ease-in-out .4s;
}
a:not(:hover) + .behind-box {
  opacity: 0;
}
a:hover + .behind-box {
  opacity: 1;
}
.cta > .behind-box {
  opacity: 1;
}
.cta:has(a:hover) > .behind-box {
  opacity: 0;
}
/*DONATE IN CANADA*/
.icon-slider {
  aspect-ratio: 1/1;
  width: 1rem;
  clip-path: fill-box;
  display: grid;
  align-items: center;
}
.icon-slider div {
  gap: 50%;
  position: relative;
  left: -150%;
  transition: all ease-in-out .3s;
}
.icon-slider div img {
  max-width: 100%;
}
a:hover .icon-slider div {
  left: 0;
}
.donate__bubble {
  border-radius: 50%;
  background-color: var(--purple);
  max-width: 14rem;
  aspect-ratio: 1/1;
  transition: all ease-in-out .4s;
}
.donate__bubble:hover {
  background-color: var(--black);
}
.donate__heading {
  padding: 2rem;
  font-size: 2rem;
  line-height: .9em;
  transform: rotate(-10deg);
}
.donate {
  gap: 1.5rem;
}
.donate__link {
  gap: .5rem;
}
.donate__link p {
  position: relative;
  top: -1px;
}
.donate__link p:after {
  display: block;
  content: "";
  height: 2px;
  width: 100%;
  background-color: var(--black);
  position: absolute;
  transition: all ease-in-out .4s;
}
.donate__link:hover p:after {
  width: 0;
}