<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components | Canopy Planet</title>
    <link rel="stylesheet" href="https://use.typekit.net/eky2xmm.css">
    <link href="../css/normalize.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">
</head>
<body>
    <h1>Canopy Planet <span class="heading--purple">Case Study</span></h1>

    <h2>Typography Defaults</h2>

    <article class="component">
        <h3 class="component__name">H2</h3>
        <div class="component__img">
            <img srcset="img/solution-h2__heading.png 1.25x" src="img/solution-h2__heading.png" alt="H2 heading">
            <img srcset="img/newsletter-h2__heading.png 1.25x" src="img/newsletter-h2__heading.png" alt="H2 heading">
        </div>
        <div class="component__code">
            <h2 class="heading--big">Be part of <span class="heading--purple">the solution</span></h2>
            <h2 class="heading--no-big heading--upper section-heading">Newsletter</h2>
        </div>
    </article>

    <article class="component">
        <h3 class="component__name">H3</h3>
        <div class="component__img">
            <img srcset="img/sock-nav-h3__heading.png 1.25x" src="img/sock-nav-h3__heading.png" alt="H3 heading">
        </div>
        <div class="component__code">
            <h3 class="sub--bigger">The 2023 hot Button report</h3>
        </div>
    </article>

    <!--BODY COPY BELOW-->

    <article class="component">
        <h3 class="component__name">Large Copy</h3>
        <div class="component__img">
            <img srcset="img/mission__text.png 1.25x" 
            src="img/mission__text.png"
            alt="Body copy">
        </div>
        <div class="component__code">
            <p class="copy--big">We work collaboratively with brands, producers, local NGOs, Indigenous leaders, and decision-makers. 
            Our approach brings the power of the global market to secure large-scale, and just conservation for 
            the world’s climate-critical and biodiversity-rich forests.</p>
        </div>
    </article>

    <article class="component">
        <h2 class="component__name">Copy</h2>
        <div class="component__img">
            <img srcset="img/initiative__text.png 1.25x" 
            src="img/initiative__text.png"
            alt="Body copy">
        </div>
        <div class="component__code">
            <p class="copy">CanopyStyle brings together fashion’s most progressive players and industry giants to ensure we keep 
            the world's most vital forests out of fabrics like rayon and viscose so that we can be fashionable, and 
            keep the planet looking — and feeling — good too.</p>
        </div>
    </article>

    <h2>Atoms</h2>

    <article class="component">
        <h3 class="component__name">Buttons</h3>
        <div class="component__img">
            <img srcset="img/sad__button.png 1.25x" src="img/sad__button.png" alt="button">
            <img srcset="img/hero__button.png 1.25x" src="img/hero__button.png" alt="button">
            <img srcset="img/pop-button.png 1.25x" src="img/pop-button.png" alt="button">
            <img srcset="img/cookies__buttons.png 1.25x" src="img/cookies__buttons.png" alt="button">
        </div>
        <div class="component__code">
            <div class="button"><a href="#!"><p class="button__link">Learn more</p></a></div>
            <div class="button button--white"><a href="#!"><p class="button__link button__grid"><span>Become A Partner</span><span><img class="icon" src="../img/arrow.png"></span></p></a></div>
            <div class="button button--black button--small"><a href="#!"><p class="small__link">Become A Brand Partner</p></a></div>
            <div class="cookie__options">
                <div class="button button--cookie"><a href="#!"><p class="cookie__link">Reject All</p></a></div>
                <div class="button button--cookie"><a href="#!"><p class="cookie__link">Save My Preferences</p></a></div>
                <div class="button button--cookie button--cookie-alt"><a href="#!"><p class="cookie__link">Accept All</p></a></div>
            </div>
        </div>
    </article>

    <article class="component">
        <h3 class="component__name">Cookie toggle</h3>
        <div class="component__img">
            <img srcset="img/cookie-toggle.png 1.25x" src="img/cookie-toggle.png" alt="cookie toggle button">
        </div>
        <div class="component__code">
            <div class="cookie__toggle"><a href="#!"><img src="../img/cookie.svg"></a></div>
        </div>
    </article>
    <article class="component">
        <h3 class="component__name">Cookie header</h3>
        <div class="component__img">
            <img srcset="img/cookie-header.png 1.25x" src="img/cookie-header.png" alt="cookie window header">
        </div>
        <div class="component__code">
            <div class="bg-white topper topper--cookies">
                <h3 class="heading--bolder sub heading--wide">Customize Consent Preferences</h3>
                <div><a href="#"><img src="../img/x.png" srcset="../img/x.png 1.25x" alt="exit"></a></div>
            </div>
        </div>
    </article>
    <article class="component">
        <h3 class="component__name">Cookie Switch</h3>
        <div class="component__img">
            <img srcset="img/cookies__accordion__optional-switch.png 1.25x" src="img/cookies__accordion__optional-switch.png" alt="cookie switch">
            <img srcset="img/cookies__accordion__header.png 1.25x" src="img/cookies__accordion__header.png" alt="cookie topper">
        </div>
        <div class="component__code">
            <label class="switch"><input type="checkbox"><div class="switch-slider"><span class="switch-ball"></span></div></label>
            <div class="topper"><div class="button__grid"><div class="toggle-arrow"><img src="../img/togglearrow.png" alt="toggle arrow"></div><h4 class="heading--bolder sub">Necessary</h4></div><p class="green heading--bold">Always Active</p></div>
        </div>
    </article>

    <h2>Molecules</h2>

    <article class="component">
        <h3 class="component__name">Popup</h3>
        <div class="component__img">
            <img srcset="img/hero__pop.png 1.25x" src="img/hero__pop.png" alt="popup">
        </div>
        <div class="component__code">
            <div class="popup">
                <div class="topper--popup topper">
                    <h3 class="sub--bigger heading--upper">Become a brand partner</h3>
                    <button class="button--x"><img src="../img/x.png" srcset="../img/x.png 1.25x" alt="exit"></button>
                </div>
                <p class="copy break">We work with over 950 brands, producers, and innovators to transform unsustainable 
                supply chains and save forests. Join us.</p>
                <div class="button button--black button--small"><a href="#!"><p class="small__link">Become A Brand Partner</p></a></div>
            </div>
        </div>
    </article>

    <h2></h2>

    <article class="component">
        <h3 class="component__name">Toolbar</h3>
        <div class="component__img">
            <img srcset="img/page-header.png 1.25x" src="img/page-header.png" alt="Page header">
        </div>
        <div class="component__code">
            <div class="toolbar">
                <a href="#!" class="link">Tools and resources</a>
                <button class="button button--white"><p class="button__link"><img src="../img/search.png" srcset="../img/search.png 1.25x" alt="search icon"></p></button>
                <div class="button"><a href="#!"><p class="button__link">Get involved</p></a></div>
                <button class="button button--black"><p class="button__link button__grid"><span>Menu</span><span><img src="../img/menu.png" srcset="../img/menu.png 1.25x" alt="menu icon"></span></p></button>
            </div>
        </div>
    </article>

    <article class="component">
        <h3 class="component__name">Cookie Item</h3>
        <div class="component__img">
            <img srcset="img/Cookies__accordion__item.png 1.25x" src="img/Cookies__accordion__item.png" alt="accordion item">
        </div>
        <div class="component__code">
            <table class="cookie__table">
                <tr>
                    <th>Cookie</th>
                    <td>fundraiseup_cid</td>
                </tr>
                <tr>
                    <th>Duration</th>
                    <td>1 year 1 month 4 days</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>This cookie is set by Fundraise Up, and is used to identify a user’s browser. This cookie is necessary 
                    for the platform to function properly and securely, as it helps us detect and prevent fraud.</td>
                </tr>
            </table>
        </div>
    </article>

    <article class="component">
        <h3 class="component__name">Cookie Accordion</h3>
        <div class="component__img">
            <img srcset="img/cookies__body__accordion.png 1.25x" src="img/cookies__body__accordion.png" alt="cookie accordion closed">
            <img srcset="img/cookies__acordion--optional.png 1.25x" src="img/cookies__acordion--optional.png" alt="cookie accordion optional">
            <img srcset="img/cookies__accordion__open.png 1.25x" src="img/cookies__accordion__open.png" alt="cookie accordion open">
        </div>
        <div class="component__code">
            <div class="bg-white accordion">
                <div class="topper">
                    <div class="button__grid">
                        <div class="toggle-arrow"><img src="../img/togglearrow.png" alt="toggle arrow"></div>
                        <h4 class="heading--bolder sub">Necessary</h4>
                    </div>
                    <p class="green heading--bolder">Always Active</p>
                </div>
                <p class="copy--small morepad">Necessary cookies are required to enable the basic features of this site, such as providing secure log-in or 
                adjusting your consent preferences. These cookies do not store any personally identifiable data.</p>
            </div>
            <div class="bg-white accordion">
                <div class="topper">
                    <div class="button__grid">
                        <div class="toggle-arrow"><img src="../img/togglearrow.png" alt="toggle arrow"></div>
                        <h4 class="heading--bolder sub">Functional</h4>
                    </div>
                    <label class="switch"><input type="checkbox"><div class="switch-slider"><span class="switch-ball"></span></div></label>
                </div>
                <p class="copy--small morepad">Functional cookies help perform certain functionalities like sharing the content of the website on social media 
                platforms, collecting feedback, and other third-party features.</p>
            </div>
            <div class="bg-white accordion open">
                <div class="topper">
                    <div class="button__grid">
                        <div class="toggle-arrow"><img src="../img/togglearrow.png" alt="toggle arrow"></div>
                        <h4 class="heading--bolder sub">Necessary</h4>
                    </div>
                    <p class="green heading--bolder">Always Active</p>
                </div>
                <p class="copy--small morepad">Necessary cookies are required to enable the basic features of this site, such as providing secure log-in or 
                adjusting your consent preferences. These cookies do not store any personally identifiable data.</p>
                <div class="collapse">
                    <table class="cookie__table">
                        <tr>
                            <th>Cookie</th>
                            <td>fundraiseup_cid</td>
                        </tr>
                        <tr>
                            <th>Duration</th>
                            <td>1 year 1 month 4 days</td>
                        </tr>
                        <tr>
                            <th>Description</th>
                            <td>This cookie is set by Fundraise Up, and is used to identify a user’s browser. This cookie is necessary 
                            for the platform to function properly and securely, as it helps us detect and prevent fraud.</td>
                        </tr>
                    </table>
                    <table class="cookie__table">
                        <tr>
                            <th>Cookie</th>
                            <td>fundraiseup_func</td>
                        </tr>
                        <tr>
                            <th>Duration</th>
                            <td>session</td>
                        </tr>
                        <tr>
                            <th>Description</th>
                            <td>This is a functional cookie required to ensure that the Fundraise Up service works properly on your 
                            site. This cookie collects and stores data that allows our platform to provide a better and more 
                            personalized donation experience for visitors. The information stored in this file helps us optimize a 
                            visitor's interaction with various elements on site, adjusting to their needs and preferences.</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </article>

    <article class="component">
        <h3 class="component__name">News Article</h3>
        <div class="component__img">
            <img srcset="img/menu__news__article.png 1.25x" src="img/menu__news__article.png" alt="News Article">
        </div>
        <div class="component__code">
            <div class="news__grid">
                <div class="thumbnail"><img src="../img/news-1.avif" class="thumbnail-img" alt="article thumbnail"></div>
                <h4 class="copy--bigger">Yibin Grace Opens First Recycled Textile Pulp Facility in China</h4>
            </div>
        </div>
    </article>

    <article class="component">
        <h3 class="component__name">News box</h3>
        <div class="component__img">
            <img srcset="img/menu__news.png 1.25x" src="img/menu__news.png" alt="News Article">
        </div>
        <div class="component__code">
            <div class="menu__news">
                <div class="topper">
                    <h3 class="sub heading--purple">Latest News</h3>
                    <a class="button__grid link">
                        <p>View all</p>
                        <div><img src="../img/arrow.png" alt="search icon"></div>
                    </a>
                </div>
                <div class="news__grid">
                    <div class="thumbnail"><img src="../img/news-1.avif" alt="article thumbnail"></div>
                    <h4 class="copy--bigger">Yibin Grace Opens First Recycled Textile Pulp Facility in China</h4>
                </div>
                <div class="topper">
                    <div><p class="sub thin"><span class="sub--bigger">1</span>/5</p></div>
                    <div class="button__grid">
                        <div class="button button--white lrbutton"><a href="#!" class="lrbutton l"><img src="../img/arrow.png" alt="search icon"></a></div>
                        <div class="button button--white lrbutton"><a href="#!" class="lrbutton"><img src="../img/arrow.png" alt="search icon"></a></div>
                    </div>
                </div>
            </div>
        </div>
    </article>

    <article class="component">
        <h3 class="component__name">News accordion</h3>
        <div class="component__img">
            <img srcset="img/menu__accordion--colapsed.png 1.25x" src="img/menu__accordion--colapsed.png" alt="Menu accordion collapsed">
            <img srcset="img/menu__accordion.png 1.25x" src="img/menu__accordion.png" alt="Menu accordion expanded">
        </div>
        <div class="component__code">
            <div class="menu-ac">
                <label>
                    <input type="checkbox">
                    <div class="menu__accordion">
                        <div class="topper"><h3 class="heading--upper sub--big link">About Us</h3><div class="plumin"></div></div>
                        <div>
                            <ul class="accordion__list copy--big">
                                <li><a class="link" href="#!">Our mission</a></li>
                                <li><a class="link" href="#!">Our values &amp; Culture</a></li>
                                <li><a class="link" href="#!">Our Impact</a></li>
                                <li><a class="link" href="#!">Annual Report</a></li>
                                <li><a class="link" href="#!">Our People</a></li>
                                <li><a class="link" href="#!">Case Studies</a></li>
                            </ul>
                        </div>
                    </div>
                </label>
            </div>
        </div>
    </article>

    <article class="component">
        <h3 class="component__name">News box</h3>
        <div class="component__img">
            <img srcset="img/menu__socials.png 1.25x" src="img/menu__socials.png" alt="Socials footer">
        </div>
        <div class="component__code">
            <div class="socials">
                <p>Follow us</p>
                <div class="topper">
                    <div><a href="#!"><img src="../img/linkedin.png" srcset="../img/linkedin.png 1.25x" alt="linkedin"></a></div>
                    <div><a href="#!"><img src="../img/instagram.png" srcset="../img/instagram.png 1.25x" alt="instagram"></a></div>
                    <div><a href="#!"><img src="../img/facebook.png" srcset="../img/facebook.png 1.25x" alt="facebook"></a></div>
                    <div><a href="#!"><img src="../img/twitter.png" srcset="../img/twitter.png 1.25x" alt="twitter"></a></div>
                    <div><a href="#!"><img src="../img/youtube.png" srcset="../img/youtube.png 1.25x" alt="youtube"></a></div>
                    <div><a href="#!"><img src="../img/vine.png" srcset="../img/vine.png 1.25x" alt="vimeo"></a></div>
                </div>
            </div>
        </div>
    </article>

    <h2>organisms</h2>

    <article class="component">
        <h3 class="component__name">Header</h3>
        <div class="component__img">
            <img srcset="img/page-header.png 1.25x" src="img/page-header.png" alt="Page header">
        </div>
        <div class="component__code">
            <header class="topper">
                <div>
                    <img src="../img/logo.png" srcset="../img/logo.png 1.25x" alt="canopy logo">
                </div>
                <div class="toolbar">
                    <a href="#!" class="link">Tools and resources</a>
                    <button class="button button--white"><p class="search"><img src="../img/search.png" srcset="../img/search.png 1.25x" alt="search icon"></p></button>
                    <div class="button"><a href="#!"><p class="button__link">Get involved</p></a></div>
                    <button class="button button--black"><p class="button__link button__grid"><span>Menu</span><span><img src="../img/menu.png" srcset="../img/menu.png 1.25x" alt="menu icon"></span></p></button>
    
                </div>
            </header>
        </div>
    </article>

    <article class="component">
        <h3 class="component__name">Hero</h3>
        <div class="component__img">
            <img srcset="img/hero.png 1.25x" src="img/hero.png" alt="hero section">
        </div>
        <div class="component__code">
            <section class="hero">
                <div class="sticky">
                    <h2 class="heading--big heading--bold heading--upper heading--white hero__heading center">We Protect Forests, Species, And Climate</h2>
                    <div class="button button--white right"><a href="#!"><p class="button__link button__grid"><span>Become A Partner</span><span><img class="icon" src="../img/arrow.png"></span></p></a></div>
                </div>
                <div class="popup absolute">
                    <div class="topper--popup topper">
                        <h3 class="sub--bigger heading--upper">Become a brand partner</h3>
                        <button class="button--x"><img src="../img/x.png" srcset="../img/x.png 1.25x" alt="exit"></button>
                    </div>
                    <p class="copy break">We work with over 950 brands, producers, and innovators to transform unsustainable 
                    supply chains and save forests. Join us.</p>
                    <div class="button button--black button--small"><a href="#!"><p class="small__link">Become A Brand Partner</p></a></div>
                </div>
            </section>
        </div>
    </article>

    <article class="component">
        <h3 class="component__name">Cookie Tab</h3>
        <div class="component__img">
            <img srcset="img/cookies.png 1.25x" src="img/cookies.png" alt="Cookie tab">
        </div>
        <div class="component__code">
            <div class="cookie__toggle"><a href="#cookie"><img src="../img/cookie.svg"></a></div>
            <p>Click Me</p>
            <div id="cookie">
                <div class="cookies">
                    <div class="topper topper--cookies">
                        <h3 class="heading--bolder sub heading--wide">Customize Consent Preferences</h3>
                        <div><a href="#!"><img src="../img/x.png" srcset="../img/x.png 1.25x" alt="exit"></a></div>
                    </div>
    
                    <div class="scroll">
                        <div class="pad">
                            <p class="copy--small bold">We use cookies to help you navigate efficiently and perform certain functions. You will find detailed information about 
                            all cookies under each consent category below.</p>
                            <p class="copy--small bold">The cookies that are categorized as "Necessary" are stored on your browser as they are essential for enabling the basic 
                            functionalities of the site. ... <span class="blue">Show more</span></p>    
                        </div>
                        <div class="accordion">
                            <div class="topper">
                                <div class="button__grid">
                                    <div class="toggle-arrow"><img src="../img/togglearrow.png" alt="toggle arrow"></div>
                                    <h4 class="heading--bolder sub">Necessary</h4>
                                </div>
                                <p class="green heading--bolder">Always Active</p>
                            </div>
                            <p class="copy--small morepad">Necessary cookies are required to enable the basic features of this site, such as providing secure log-in or 
                            adjusting your consent preferences. These cookies do not store any personally identifiable data.</p>
                        </div>
                        <div class="accordion">
                            <div class="topper">
                                <div class="button__grid">
                                    <div class="toggle-arrow"><img src="../img/togglearrow.png" alt="toggle arrow"></div>
                                    <h4 class="heading--bolder sub">Functional</h4>
                                </div>
                                <label class="switch"><input type="checkbox"><div class="switch-slider"><span class="switch-ball"></span></div></label>
                            </div>
                            <p class="copy--small morepad">Functional cookies help perform certain functionalities like sharing the content of the website on social media 
                            platforms, collecting feedback, and other third-party features.</p>
                        </div>
                        <div class="accordion">
                            <div class="topper">
                                <div class="button__grid">
                                    <div class="toggle-arrow"><img src="../img/togglearrow.png" alt="toggle arrow"></div>
                                    <h4 class="heading--bolder sub">Analytics</h4>
                                </div>
                                <label class="switch"><input type="checkbox"><div class="switch-slider"><span class="switch-ball"></span></div></label>
                            </div>
                            <p class="copy--small morepad">Analytical cookies are used to understand how visitors interact with the website. These cookies help provide 
                            information on metrics such as the number of visitors, bounce rate, traffic source, etc.</p>
                        </div>
                        <div class="accordion">
                            <div class="topper">
                                <div class="button__grid">
                                    <div class="toggle-arrow"><img src="../img/togglearrow.png" alt="toggle arrow"></div>
                                    <h4 class="heading--bolder sub">Performance</h4>
                                </div>
                                <label class="switch"><input type="checkbox"><div class="switch-slider"><span class="switch-ball"></span></div></label>
                            </div>
                            <p class="copy--small morepad">Performance cookies are used to understand and analyze the key performance indexes of the website which helps 
                            in delivering a better user experience for the visitors.</p>
                        </div>
                        <div class="accordion">
                            <div class="topper">
                                <div class="button__grid">
                                    <div class="toggle-arrow"><img src="../img/togglearrow.png" alt="toggle arrow"></div>
                                    <h4 class="heading--bolder sub">Advertisement</h4>
                                </div>
                                <label class="switch"><input type="checkbox"><div class="switch-slider"><span class="switch-ball"></span></div></label>
                            </div>
                            <p class="copy--small morepad">Advertisement cookies are used to provide visitors with customized advertisements based on the pages you 
                            visited previously and to analyze the effectiveness of the ad campaigns.</p>
                        </div>
                        <div class="accordion">
                            <div class="topper">
                                <div class="button__grid">
                                    <div class="toggle-arrow"><img src="../img/togglearrow.png" alt="toggle arrow"></div>
                                    <h4 class="heading--bolder sub">Uncategorized</h4>
                                </div>
                                <label class="switch"><input type="checkbox"><div class="switch-slider"><span class="switch-ball"></span></div></label>
                            </div>
                            <p class="copy--small morepad">Other uncategorized cookies are those that are being analyzed and have not been classified into a category 
                            as yet.</p>
                        </div>
                        <div class="shadow"></div>
                    </div>
                    <div class="cookie__options">
                        <div class="button button--cookie"><a href="#!"><p class="cookie__link">Reject All</p></a></div>
                        <div class="button button--cookie"><a href="#!"><p class="cookie__link">Save My Preferences</p></a></div>
                        <div class="button button--cookie button--cookie-alt"><a href="#!"><p class="cookie__link">Accept All</p></a></div>
                    </div>
                    <div class="cookie__foot">
                        <p>Powered by</p>
                        <img src="../img/poweredbtcky.svg" alt="CookieYes">
                    </div>
                </div>
            </div>
        </div>
    </article>

    <article class="component">
        <h3 class="component__name">Menu</h3>
        <div class="component__img">
            <img srcset="img/menu.png 1.25x" src="img/menu.png" alt="Menu accordion expanded">
        </div>
        <div class="component__code">
            <div class="column-flex menu">
                <div class="topper">
                    <h2 class="sub--big">Menu</h2>
                    <button class="button--x"><img src="../img/x.png" srcset="../img/x.png 1.25x" alt="exit"></button>
                </div>
                
                <div class="button button--menu"><a href="#!"><p class="button__link heading--upper sub--big">Get involved</p></a></div>

                <div class="menu-ac">
                    <label>
                        <input type="checkbox">
                        <div class="menu__accordion">
                            <div class="topper"><h3 class="heading--upper sub--big link">About Us</h3><div class="plumin"></div></div>
                            <div>
                                <ul class="accordion__list copy--big">
                                    <li><a class="link" href="#!">Our mission</a></li>
                                    <li><a class="link" href="#!">Our Impact</a></li>
                                    <li><a class="link" href="#!">Our People</a></li>
                                    <li><a class="link" href="#!">Our values &amp; Culture</a></li>
                                    <li><a class="link" href="#!">Annual Report</a></li>
                                    <li><a class="link" href="#!">Case Studies</a></li>
                                </ul>
                            </div>
                        </div>
                    </label>
                </div>

                <div class="menu-ac">
                    <label>
                        <input type="checkbox">
                        <div class="menu__accordion">
                            <div class="topper"><h3 class="heading--upper sub--big link">Let's Make Change Together</h3><div class="plumin"></div></div>
                            <div>
                                <ul class="accordion__list copy--big">
                                    <li><a class="link" href="#!">Our mission</a></li>
                                    <li><a class="link" href="#!">Our values &amp; Culture</a></li>
                                    <li><a class="link" href="#!">Our Impact</a></li>
                                    <li><a class="link" href="#!">Annual Report</a></li>
                                    <li><a class="link" href="#!">Our People</a></li>
                                    <li><a class="link" href="#!">Case Studies</a></li>
                                </ul>
                            </div>
                        </div>
                    </label>
                </div>
    
                <div class="menu__news">
                    <div class="topper">
                        <h3 class="sub heading--purple">Latest News</h3>
                        <a class="button__grid link">
                            <p>View all</p>
                            <div><img src="../img/arrow.png" alt="search icon"></div>
                        </a>
                    </div>
                    <div class="news__grid">
                        <div class="thumbnail"><img src="../img/news-1.avif" alt="article thumbnail"></div>
                        <h4 class="copy--bigger">Yibin Grace Opens First Recycled Textile Pulp Facility in China</h4>
                    </div>
                    <div class="topper">
                        <div><p class="sub thin"><span class="sub--bigger">1</span>/5</p></div>
                        <div class="button__grid">
                            <div class="button button--white lrbutton"><a href="#!" class="lrbutton l"><img src="../img/arrow.png" alt="search icon"></a></div>
                            <div class="button button--white lrbutton"><a href="#!" class="lrbutton"><img src="../img/arrow.png" alt="search icon"></a></div>
                        </div>
                    </div>
                </div>
    
                <div class="column-flex socials">
                    <p>Follow us</p>
                    <div class="topper">
                        <div><a href="#!"><img src="../img/linkedin.png" srcset="../img/linkedin.png 1.25x" alt="linkedin"></a></div>
                        <div><a href="#!"><img src="../img/instagram.png" srcset="../img/instagram.png 1.25x" alt="instagram"></a></div>
                        <div><a href="#!"><img src="../img/facebook.png" srcset="../img/facebook.png 1.25x" alt="facebook"></a></div>
                        <div><a href="#!"><img src="../img/twitter.png" srcset="../img/twitter.png 1.25x" alt="twitter"></a></div>
                        <div><a href="#!"><img src="../img/youtube.png" srcset="../img/youtube.png 1.25x" alt="youtube"></a></div>
                        <div><a href="#!"><img src="../img/vine.png" srcset="../img/vine.png 1.25x" alt="vimeo"></a></div>
                    </div>
                </div>
            </div>
        </div>
    </article>

    <article class="component">
        <h3 class="component__name">Deforestation Section</h3>
        <div class="component__img">
            <img srcset="img/sad.png 1.25x" src="img/sad.png" alt="Menu accordion expanded">
        </div>
        <div class="component__code">
            <section class="section-grid">
                <div class="section-thumbnail"><img src="../img/defo.gif" class="thumbnail-img" srcset="../img/defo.gif 1.25x" alt="deforestation visual"></div>
                <div class="section-content column-flex">
                    <h2 class="heading--purple heading--bigger">5.1B</h2>
                    <p class="copy--big"> Despite the importance of forests, every year, a staggering 5.1 billion trees are cut down, many from vital landscapes, to meet the demand for paper and paper packaging, and for fabrics like rayon and viscose.</p>
                    <div class="button"><a href="#!"><p class="button__link">Learn more</p></a></div>
                </div>
            </section>
        </div>
    </article>

    <!--Basic article
    <article class="component">
        <h3 class="component__name"></h3>
        <div class="component__img">
            <img srcset=" 1.25x" src="" alt="">
        </div>
        <div class="component__code">
            
        </div>
    </article>
    -->
</body>
</html>