<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components | Canopy Planet</title>
    <link rel="stylesheet" href="https://use.typekit.net/eky2xmm.css">
    <link href="../css/main.css" rel="stylesheet">
</head>
<body>
    <h1>Canopy Planet <span class="page-heading--purple">Case Study</span></h1>
    <article class="component">
        <h2 class="compontent__name">Large Copy</h2>
        <img srcset="img/mission__text.png 1.25x" 
        src="img/mission__text.png"
        alt="Body copy">
        <div>
            <p class="copy--large">We work collaboratively with brands, producers, local NGOs, Indigenous leaders, and decision-makers. 
            Our approach brings the power of the global market to secure large-scale, and just conservation for 
            the world’s climate-critical and biodiversity-rich forests.</p>
        </div>
    </article>

    <article class="component">
        <h2 class="compontent__name">Copy</h2>
        <img srcset="img/initiative__text.png 1.25x" 
        src="img/initiative__text.png"
        alt="Body copy">
        <div>
            <p class="copy">CanopyStyle brings together fashion’s most progressive players and industry giants to ensure we keep 
            the world's most vital forests out of fabrics like rayon and viscose so that we can be fashionable, and 
            keep the planet looking — and feeling — good too.</p>
        </div>
    </article>
</body>
</html>