<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <link rel="stylesheet" href="https://use.typekit.net/eky2xmm.css">
    <link href="../css/normalize.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">
</head>
<body>
    <article class="component">
        <h3 class="component__name">Donate Button</h3>
        <div class="component__img">
            <img src="img/sock-donate.png" srcset="img/sock-donate.png 1.4x" alt="Outside of Canada Donation button">
        </div>
        <div class="component__code">
            <section class="donate column-flex center">
                <div class="donate__bubble button__grid center"><h3 class="donate__heading heading--white heading--upper">Donate outside of canada</h3></div>
                <a class="button__grid center donate__link"><p class="copy--smaller heading--bold">Donate Within Canada</p><div class="icon-slider"><div class="button__grid"><img src="../img/link.png" alt=""><img src="../img/link.png" alt=""></div></div></a>
            </section>
        </div>
    </article>
</body>
</html>