<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <link rel="stylesheet" href="https://use.typekit.net/eky2xmm.css">
    <link href="../css/normalize.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">
</head>
<body>
    <div class="molecule">
    
        <div class="article-box">
            <article>
                <div class="menu-news__grid">
                    <div class="thumbnail"><img src="../img/news-1.avif" class="thumbnail-img" alt="article thumbnail"></div>
                    <h4 class="copy--bigger">Yibin Grace Opens First Recycled Textile Pulp Facility in China</h4>
                </div>
                <div class="button__grid">
                    <div><p class="sub thin"><span class="sub--bigger">1</span>/5</p></div>
                    <div class="button__grid">
                        <div class="button button--white lrbutton">
                            <a href="#article1" class="lrbutton l inactive">
                                <div class="icon-slider">
                                    <div class="button__grid slider-container">
                                        <div class="icon-box">
                                            <img src="../img/arrow.png" alt="">
                                        </div>
                                        <div class="icon-box">
                                            <img src="../img/arrow.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="button button--white lrbutton">
                            <a href="#article2" class="lrbutton r">
                                <div class="icon-slider">
                                    <div class="button__grid slider-container">
                                        <div class="icon-box">
                                            <img src="../img/arrow.png" alt="">
                                        </div>
                                        <div class="icon-box">
                                            <img src="../img/arrow.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        
        <div>
            <div class="menu-news__grid">
                <div class="thumbnail"><img src="../img/news-1.avif" class="thumbnail-img" alt="article thumbnail"></div>
            </div>
            <h4 class="copy--bigger">Yibin Grace Opens First Recycled Textile Pulp Facility in China</h4>
        </div>
    
        <div class="button__grid">
            <div><p class="sub thin"><span class="sub--bigger">1</span>/5</p></div>
            <div class="button__grid">
                <div class="button button--white lrbutton"><a href="#article1" class="lrbutton l inactive"><div class="icon-slider"><div class="button__grid slider-container"><div class="icon-box"><img src="../img/arrow.png" alt=""></div><div class="icon-box"><img src="../img/arrow.png" alt=""></div></div></div></a></div>
                <div class="button button--white lrbutton"><a href="#article2" class="lrbutton r"><div class="icon-slider"><div class="button__grid slider-container"><div class="icon-box"><img src="../img/arrow.png" alt=""></div><div class="icon-box"><img src="../img/arrow.png" alt=""></div></div></div></a></div>
            </div>
        </div>
    
        <div class="column-flex socials">
            <p>Follow us</p>
            <div class="topper">
                <div><a href="#!"><img src="../img/linkedin.png" srcset="../img/linkedin.png 1.25x" alt="linkedin"></a></div>
                <div><a href="#!"><img src="../img/instagram.png" srcset="../img/instagram.png 1.25x" alt="instagram"></a></div>
                <div><a href="#!"><img src="../img/facebook.png" srcset="../img/facebook.png 1.25x" alt="facebook"></a></div>
                <div><a href="#!"><img src="../img/twitter.png" srcset="../img/twitter.png 1.25x" alt="twitter"></a></div>
                <div><a href="#!"><img src="../img/youtube.png" srcset="../img/youtube.png 1.25x" alt="youtube"></a></div>
                <div><a href="#!"><img src="../img/vine.png" srcset="../img/vine.png 1.25x" alt="vimeo"></a></div>
            </div>
        </div>
    </div>
</body>
</html>