<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <link rel="stylesheet" href="https://use.typekit.net/eky2xmm.css">
    <link href="../css/normalize.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">
</head>
<body>
    <div class="button button--black"><a href="#!"><div class="button__link button__grid"><div class="icon-slider"><div class="button__grid slider-container"><div class="icon-box"><img src="../img/menu.png" alt=""></div><div class="icon-box"><img src="../img/menu.png" alt=""></div></div></div></div></a></div>
    <div class="column-flex menu">
        <div class="topper">
            <h2 class="sub--big">Menu</h2>
            <div><a href="#!"><img src="../img/x.png" srcset="../img/x.png 1.25x" alt="exit"></a></div>
        </div>

        <div class="menu-ac">
            <label>
                <input type="checkbox">
                <div class="menu__accordion">
                    <div class="topper"><h3 class="heading--upper sub--big link">Molecules</h3><div class="plumin"></div></div>
                    <div>
                        <div class="molecule">
                            
                        </div>
                    </div>
                </div>
            </label>
        </div>

    </div>
</body>
</html>